AWS_ACCESS_KEY_ID="abc123"
AWS_SECRET_ACCESS_KEY="abc123"
AWS_DEFAULT_REGION="us-east-1"

SERVICE_API_URL="http://127.0.0.1:8000"

SERVICE_API_URL="http://127.0.0.1:8000"

SPEECH_SERVICE_API_KEY="abc123"
SPEECH_API_URL="http://127.0.0.1:8002"

SCRIPT_SERVICE_API_KEY="abc123"
SCRIPT_API_URL="http://127.0.0.1:8001"